<%!
    title = None
%>
<%def name="title()">
    <%
        name = 'Kiwi Elite Images Directory (KEID)'

        if self.attr.title:
            name += ' - %s' % (self.attr.title)
    %>
    ${name}
</%def>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>${self.title()}</title>

        <link rel="stylesheet" href="${url_for('static', filename='css/semantic.min.css')}" />
        <link rel="stylesheet" href="${url_for('static', filename='css/main.css')}" />
        <%block name="head" />
    </head>
    <body>
        <div id="main" class="ui inverted segment">
            <%block name="header">
                <h1 class="ui center aligned inverted huge header">${self.title()}</h1>
            </%block>
            <div class="ui page grid">
                <div class="column">
                    <div class="ui segment">
                        ${self.body()}
                    </div>
                </div>
            </div>
            <footer>
                &copy;2015 <a href="http://koka.kiwi" target="_blank">Koka El Kiwi</a>
                (<a href="https://github.com/KokaKiwi/elite-screenshots" target="_blank">Source code</a>)
            </footer>
        </div>
    </body>
</html>
